1. Rameshâ€™s basic salary is input through the keyboard. His dearness allowance is 40% of basic salary, and
house rent allowance is 20% of basic salary. Write a program to calculate his gross salary.

In [4]:
try:
    ra=eval(input("enter ramesh salary"))
    da=ra*40/100
    print(f"dearness allowance = {da}")
    hr=ra*20/100
    print(f"house rent = {hr}")
    gs=da+hr+ra
    print("the gross salary",gs)
except:
    print('invalid')

enter ramesh salary

invalid

2. The distance between two cities (in km.) is input through the keyboard. Write a program to convert and
print this distance in meters, feet, inches and centimeters.

- meters= km*1000
- feet= km*3280.84
- inch= km*39370.1
- centimetres= km*100000

In [79]:
try:
    c1=input("enter the city name c1:")
    c2=input("enter the city name c2:")
    d1=eval(input(f"enter the distance bt {c1} and {c2}"))
    print('distance in meters',float(d1*1000),'mt')
    print('distance in feets',float(d1*3280.84),'ft')
    print('distance in inches',float(d1*39370.1),'inc')
    print('distance in centimeters',float(d1*100000),'cm')
except:
    print('invalid')

enter the city name c1: f
enter the city name c2: f
enter the distance bt f and f f

invalid

3. If the marks obtained by a student in five different subjects are input through the keyboard, find out the
aggregate marks and percentage marks obtained by the student. Assume that the maximum marks that
can be obtained by a student in each subject is 100.

In [128]:
try:
    tel=eval(input("enter telugu marks:"))
    hin=eval(input("enter hindi marks:"))
    eng=eval(input("enter english marks:"))
    mat=eval(input("enter maths marks:"))
    sci=eval(input("enter science marks:"))
    am=tel+hin+eng+mat+sci
    print("total marks obtained:",am)
    print("total percentage:",am/500*100)
except:
    print("invalid")

enter telugu marks:

invalid

4. Temperature of a city in Fahrenheit degrees is input through the keyboard. Write a program to convert this
temperature into Centigrade degrees.

- c=5/9(f-32)

In [23]:
try:
    fd=eval(input("enter fahrenheit degree of hydrogen"))
    cd=float(5/9*(fd-32))
    print("the centigrade degree is:",abs(cd))
except:
    print('invalid')

enter fahrenheit degree of hydrogen

invalid

5. The length & breadth of a rectangle and radius of a circle are input through the keyboard. Write a program
to calculate the area & perimeter of the rectangle, and the area & circumference of the circle.

In [ ]:
try:
    le=eval(input("enter the lenght of rectangle:"))
    br=eval(input("enter the breadth of rectangle:"))
    ra=eval(input("enter the radius of circle:"))
    area=le*br
    per=2*(le+br)
    area_of_circle=float(3.14*(ra*ra))
    cir=float(2*3.14*ra)
    print(f"the area of given rectangle is {area} and the perimeter of the rectangle is {per}.")
    print(f"the area of circle is {area_of_circle} and the circumference of the circle is {cir}")
except:
    print('invalid')

6. Two numbers are input through the keyboard into two locations C and D. Write a program to interchange
the contents of C and D.

In [9]:
import random
a=random.randint(1,100)
b=random.randint(1,100)
print(a,b)
a,b=b,a
print(a,b)

23 22
22 23

7. If a five-digit number is input through the keyboard, write a program to reverse the number.

In [23]:
num = input("enter any values")
rev = num [::-1]
print(rev)

enter any values 12345

54321

9. In a town, the percentage of men is 52. The percentage of total literacy is 48. If total percentage of literate
men is 35 of the total population, write a program to find the total number of illiterate men and women if
the population of the town is 80,000.

In [29]:
try:
    total_population = 80000
    percent_men = 52
    percent_literacy = 48
    percent_literate_men = 35
    total_men = (percent_men / 100) * total_population
    total_women = total_population - total_men
    total_literate_population = (percent_literacy / 100) * total_population
    literate_men = (percent_literate_men / 100) * total_population
    literate_women = total_literate_population - literate_men
    illiterate_men = total_men - literate_men
    illiterate_women = total_women - literate_women
    print("Total number of illiterate men:", int(illiterate_men))
    print("Total number of illiterate women:", int(illiterate_women))
except:
    print("invalid")

Total number of illiterate men: 13600
Total number of illiterate women: 28000