Q1
-

In [69]:
try:
    n1=int(input('enter any number n1:'))
    n2=int(input('enter any number n2:'))
    if n1==n2:
        print('Won')
    else:
        print('loss')
except:
    print("invalid")

enter any number n1: 9
enter any number n2: hi

invalid

Q2
-

In [76]:
import random
try:
    v1=int(input('enter any number'))
    v2=random.randint(1,10)
    if v1==v2:
        print('we won')
    else:
        print('we lost')
except:
    print('invalid')

enter any number hi

invalid

Q3
-

In [185]:
try:
    b1=eval(input('enter any number'))
    if b1%2==0:
        print("the given number is even")
    else:
        print("the given number is odd")
except:
    print('the given number is invalid')

enter any number ji

the given number is invalid

Q4
-

In [183]:
try:
    d1=eval(input('enter the distance'))
    if d1>=25:
        ex=d1-25
        print("the extra distance =",ex)
        tot=ex*5
        print(f"the total charge for {ex} extra kms is {tot}.")
    else:
        print('free ride')
except:
    print('invalid')

enter the distance ji

invalid

Q5
-

In [181]:
try:
    h1=eval(input("enter any number h1:"))
    h2=eval(input("enter any number h2:"))
    if h1>=h2:
        print("greater than")
    else:
        print(f"{h1} less than {h2}")
except:
    print('enter a valid numbers')

enter any number h1: ji

enter a valid numbers

Q6
-

In [250]:
try:
    cn=input("enter course name")
    ye=int(input("year ="))
    if cn=="ds" and ye==2025:
        print("safe place")
    else:
        print('katam zindagi')
except Exception as e:
    print('wasted',e)

enter course name ji
year =

wasted invalid literal for int() with base 10: ''