In [3]:
# Q4)

str1='ola ola ola'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

2
6
10

In [15]:
# Q5) & Q6)

str1='ola ola ola'
summ=0
count=0
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)
        summ=summ+i
        count=count+1
print(summ)
print(count)

2
6
10
18
3

In [21]:
# Q7)

str2='hello how are you'
s1='aeiou'
count=0
for i in str2:
    if i in s1:
        print(i)
        count=count+1
print(count)

e
o
o
a
e
o
u
7

In [37]:
# Q8)

str2='hello how are you'
s1='aeiou'
s2=''
for i in str2:
    if i in s1 and i not in s2:
        print(i)
        s2=s2*1

print(s2)

e
o
o
a
e
o
u